<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="FormatDSsthi.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>In Danh sách thi</title>
</head>

<body>

<div class="container" id="page">
        <div id="content">
	
    <div class="span-5 last">
        <div id="sidebar">
		</div><!-- sidebar -->
    </div>
    <div class="span-19">
        <div id="content">
		<h1 align="center">Danh sách thi Học kỳ</h1>
     <input title="Xem thông tin các môn thi" id="xemmonthi" name="yt0" type="button" value="Xem môn thi" />
</form><div id="loading"></div>
<div id="dsthi-grid" class="grid-view">
<table class="items">
<thead>
<tr>
<th id="dsthi-grid_c0">STT</th><th id="dsthi-grid_c5">SBD</th><th id="dsthi-grid_c6">Mã LMH</th><th id="dsthi-grid_c7">Tên môn học</th><th id="dsthi-grid_c8">Ngày thi</th><th id="dsthi-grid_c10">Ca thi</th><th id="dsthi-grid_c11">Phòng thi</th></tr>
</thead>
<tbody>
<tr><td colspan="14" class="empty"><span class="empty">No results found.</span></td></tr>
</tbody>
</body>
</html>
